
		<main class="register-page">
			<div class="register-page__container">
				<h1 class="register-page__title">Sign up</h1>
				<p class="register-page__link-wrapper"><a routerLink="/components/link" class="register-page__link">Есть аккаунт?</a></p>
				<form class="register-page__form" [formGroup]="userForm" (submit)="onSubmit()">
					<fieldset class="register-page__form-fieldset">
						<fieldset class="register-page__input-fieldset">
								<input formControlName="username" type="text" />
						</fieldset>
						<fieldset class="register-page__input-fieldset">
								<input formControlName="email" type="email" />
						</fieldset>
						<fieldset class="register-page__input-fieldset">
							<input type="password" formControlName="password" tuiMode="onLight">
						</fieldset>
							<button type="submit" class="register-page__button">Sign Up</button>
					</fieldset>
				</form>
			</div>
		</main>
<router-outlet></router-outlet>